<div class="banner">
  <div class="site-header__offset"></div>
  <div class="banner__wrap">
    <div class="container container--100 container--no-padding">
      <div class="row row--xl-6-6 row--no-gutters row--valign-center">



        <div class="col text--center">
          <div class="banner__title">
            <a href="#enter">
              <h1 class="title title--lg">
                <img src="{{site.img}}/content/banner-title.png" alt="Celebrating the release of Downtown Abbey win a spectacular grand country house stay at Hartwell House">
              </h1>
            </a>
            <div class="space--md"></div>
            <a href="#enter" class="btn btn--outline btn--outline-gold">Enter now</a>
            <div class="space--lg"></div>
            <img src="{{site.img}}/content/banner-partner-logos.png" class="banner__title-logos" alt="">
            <div class="space--sm"></div>
            <p class="text--sm">©2019 Focus Features LLC. All Rights Reserved.</p>
          </div>
        </div>

        <div class="col">
          <div class="banner__image bg-img bg-img--1-1" style="background-image: url({{site.img}}/content/banner.jpg);"></div>
        </div>



      </div>
    </div>
  </div>
</div>