<div class="bg--grey-darkest text--center">

  <div class="vpad--md">
    <img src="{{site.img}}/content/banner-partner-logos.png" class="banner__title-logos">
    <div class="space--sm"></div>
    <p class="text--sm">©2019 Focus Features LLC. All Rights Reserved.</p>
  </div>

  <hr class="hr--center hr--no-margin">

  <div class="vpad--md">
    <div>
      {% include components/logo-se.html placement="footer" %}
    </div>
    <div class="space--sm text--sm">
      <p>© Copyright <span class="js-year">2018</span> Secret Escapes</p>
    </div>
  </div>

</div>