
<div class="vpad--xl bg--beige text--black">
  <div class="container">
    <div class="width width--lg text--center">
      <div class="title title--xl">Grand country house escapes</div>
      <hr class="hr--center hr--dark">
      <p class="text--xl">To herald the return of Downton Abbey, we’ve put together our finest collection of Grand Country House Escapes yet. Discover luxury stays in historic castles, stunning country manors and charming rural hideaways. </p>
    </div>
    <div class="space--xl"></div>

    {% include offer/all-offers.html %}

  </div>
</div>