<div class="{{include.block}}">
  <a class="{{include.block}}-link js-add-affiliate" href="https://www.secretescapes.com/current-sales">Current deals</a>
  <a class="{{include.block}}-link js-add-affiliate" href="https://www.secretescapes.com/spa/filter">Spa</a>
  <a class="{{include.block}}-link js-add-affiliate" href="https://www.secretescapes.com/magazine-uk">Magazine</a>
  <a class="{{include.block}}-link js-add-affiliate" href="https://www.secretescapes.com/top-picks/filter">Our top picks</a>
  <a class="{{include.block}}-link js-add-affiliate is-current" href="{{ site.baseurl }}">{{ site.title }}</a>
</div>